.sidebar {
    width: 210px;
    height: 100vh;
}

.main {
    /* width: calc(100% - 420px); */
    flex: 1;
    min-width: 0;
    height: 100vh;
    padding-left: 0rem;
    padding-right: 0rem;
}

.comments-sidebar {
    width: 210px;
    height: 100vh;
}

.edit-node-sidebar {
    width: 210px;
    height: 100vh;
}

.content-markdown {
    font-size: 11px;
    max-height: 50vh;
    min-height: 50vh;
    padding-top: .5rem;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.content-editor {
    height: 100vh;
    max-height: 50vh;
    min-height: 50vh;
}

.content-editor>section {
    padding-left: 0rem;
    padding-right: 0rem;
}

.node-image {
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 180px;
}

.comments-sidebar .card .card-body {
    padding: 0.5rem;
}

.comment-line-number {
    font-size: 0.8rem;
    color: var(--bs-tertiary-color);
    font-weight: 500;
    background: none;
    cursor: pointer;
    padding: 4px;
    text-decoration: underline;
    text-decoration-style: dotted;
    transition: color 0.15s;
}

.comment-selected {
    font-size: 0.8rem;
    color: var(--bs-body-color);
    background-color: var(--bs-tertiary-bg);
    border-radius: 6px;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0;
}

.comment-content{
    font-size: 0.8rem;
    padding: 4px;
    word-break: break-all;
    white-space: pre-wrap;
}
